<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Server.Services.WeatherService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8000/"/>
					</baseAddresses>
				</host>
				<endpoint
				  address="WeatherService"
				  binding="netTcpBinding"
				  bindingConfiguration="StreamedNetTcpBinding"
				  contract="Common.IServiceContract"/>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="StreamedNetTcpBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="10000000"
						 maxBufferSize="10000000"
						 openTimeout="00:00:30"
						 sendTimeout="00:10:00"
						 receiveTimeout="00:30:00"
						 closeTimeout="00:00:30">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

	<appSettings>
		<add key="DataDirectory" value=".\Data"/>
		<add key="SH_threshold" value="0.03"/>
		<add key="HI_max_threshold" value="3.0"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>