<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint name="WeatherService"
					  address="net.tcp://localhost:8000/WeatherService"
					  binding="netTcpBinding"
					  bindingConfiguration="StreamedNetTcpBinding"
					  contract="Common.IContactService"/>
		</client>
		<bindings>
			<netTcpBinding>
				<binding name="StreamedNetTcpBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="10000000"
						 maxBufferSize="10000000"
						 openTimeout="00:00:30"
						 sendTimeout="00:10:00"
						 receiveTimeout="00:30:00"
						 closeTimeout="00:00:30">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

	<appSettings>
		<add key="CsvFilePath" value="C:\Users\obren\OneDrive\Desktop\weatherdata\cleaned_weather.csv"/>

		<add key="LogFilePath" value=".\Logs\client.log"/>
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>